.App {
  text-align: center;
}

.logoImg {
  height: 45px;
}

.navItem {
  font-size: large;
  color: black;
}

.header {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 8rem;
  padding-left: 5rem;
  padding-top: 2rem;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  text-align: left;
}

.header h1 {
  font-size: 3.5rem;
  font-weight: 800;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  margin-bottom: 1rem;
}

.header p {
  font-size: 1.25rem;
  font-weight: 600;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.pokeDeck {
  background-color: #f3f4f6; 
  min-height: 100vh;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -8rem;
}

.poke-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  padding: 10px;
}

.poke-card {
  max-width: 270px;
  width: 100%;
  background-color: #f3e67c;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border: 2px solid #f4d700;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.poke-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.poke-card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.poke-type {
  font-size: 15px;
  font-weight: bold;
  color: #333;
}

.poke-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.poke-card-title h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1f2937;
  margin: 0;
  text-transform: capitalize;
}

.poke-hp {
  font-size: 1.2rem;
  font-weight: bold;
  color: #b91c1c;
}

.poke-card-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  border: 3px solid #ba8e0f;
  margin-top: 8px;
  margin-bottom: 8px;
  object-fit: cover;
}

.poke-card-footer {
  background-color: #f4d700;
  color: #1f2937;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  padding: 0.5rem;
  border-radius: 8px;
  margin-top: 1rem;
} 

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.modal-content {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 24px;
  width: 300px;
  text-align: center;
  transform: translateY(-20px);
  animation: slideIn 0.3s forwards;
}

.modal-content h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.modal-content p {
  font-size: 1.125rem;
  margin-bottom: 20px;
  color: #555;
}

.modal-content button {
  background-color: #ba8e0f;
  color: #ffffff;
  border: none;
  padding: 10px 16px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}


.footerText {
  font-size: larger;
}

@media (max-width: 768px) {
  .header {
    height: 300px;
    padding-left: 2rem;
    padding-top: 1.5rem;
    margin-bottom: 4rem;
  }

  .header h1 {
    font-size: 2.5rem;
  }

  .header p {
    font-size: 1rem;
  }

  nav {
    padding-bottom: 20px;
  }
}